html{
    height: 100%;
}

body{
    margin: 0px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 75px 125px 1fr;
}

nav{
    background-color: cyan;
}

header{
    background-color: greenyellow;
}

aside{
    background-color: pink; 
    height: 100%;
    grid-row: span 3;
}